.hero-section{
    background-image: url("https://leniorko.github.io/digital-design-html-css/images/immortal-map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    width: 100%;
}