.hero-section{
    background-image: url("https://github.com/Leniorko/digital-design-html-css/blob/master/images/immortal-map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    width: 100%;
}